
/**
 * Current Palette
 * http://color.hailpixel.com/#F2F5E0,997233,477728,773128,141B09,F2F0D9,
 * http://color.hailpixel.com/#F2F5E0,997233,477728,773128,141B09,D4B27D,E7E0B6,955332,
 */

body {
    font-family: 'Nixie One', cursive;
    background: #477728;
    color: #141B09;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  margin: 0px auto;
}
h1 span {
  text-indent: -99999999px;
}
h1 img {
  max-width: 100%;
  height: auto;
}

header.jumbotron {
    margin-bottom: 0;
    background: #E7E0B6;
    color: #955332;
}

.jumbotron h1 {

}

section#contact {
    background: #997233;
    color: #F2F5E0;
    text-align: center;
    font-weight: bold;
    font-size: 2.0em;
    padding: 2em 1em;
}
section#social {
    background: #477728;
    color: #F2F5E0;
    text-align: center;
    font-weight: bold;
    padding: 5em 1em;
}


section#social a {
    display: block;
    color: #F2F5E0;
    font-size: 2.0em;
}
section#social a:hover,
section#social a:active
{
    color: #EFE89A;
}