
/**
 * Current Palette
 * http://color.hailpixel.com/#F2F5E0,997233,477728,773128,141B09,F2F0D9,
 */

body {
    font-family: 'Nixie One', cursive;
    background: #477728;
    color: #141B09;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}

header.jumbotron {
    margin-bottom: 0;
    background: #F2F5E0;

}

.jumbotron h1 {
    color: #773128;
}

section#contact {
    background: #997233;
    color: #F2F5E0;
    text-align: center;
    font-weight: bold;
    font-size: 2.0em;
    padding: 2em 1em;
}
section#social {
    background: #477728;
    color: #F2F5E0;
    text-align: center;
    font-weight: bold;
    padding: 5em 1em;
}


section#social a {
    display: block;
    color: #F2F5E0;
    font-size: 2.0em;
}
section#social a:hover,
section#social a:active
{
    color: #EFE89A;
}